<div class="card">

  <div class="alert alert-primary text-center" role="alert" *ngIf="! clientes.length">
    No hay clientes por el momento
  </div>

  <div class="card-body">
    <h6 > List of Client</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.cif}}</td>
          <td>{{cliente.direccion}}</td>
          <td>{{cliente.grupo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>