<div class="card mt-5">
  <div class="card-body">
    <form #productForm="ngForm" (ngSubmit)="nuevoCliente()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" name="cif" #nombre="ngModel" [(ngModel)]="cliente.nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="CIF">CIF:</label>
        <input type="text" class="form-control" name="cif" #cif="ngModel" [(ngModel)]="cliente.cif" placeholder="CIF">
      </div>
      <div class="form-group">
        <label for="direccion">Direccion:</label>
        <input type="text" class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="cliente.direccion"
          placeholder="Direccion">
      </div>
      <div class="form-group">
        <label for="grupo">Grupo:</label>
        <select class="form-control" name="grupo" #grupo="ngModel" [(ngModel)]="cliente.grupo">
          <option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
          <i class="fas fa-plus-circle"></i> Guardar
        </button>
      </div>
    </form>
  </div>
</div>